<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Task List</title>
</head>
<body>
<h1>My Task List</h1>
<ol>
    {% for task in tasklist %}
        <li>{{ task }}</li>
    {% endfor %}
</ol>

<form action="/add_task" method="post">
    <label for="new_task">Add Task: </label>
    <input type="text" id="new_task" name="new_task">
    <input type="submit" value="Add">
</form>
<br>

<form action="/remove_task" method="post">
    <label for="removed_task">Remove Task: </label>
    <select id="removed_task" name="removed_task">
        {% for task in tasklist %}
            <option value="{{ task }}">{{ task }}</option>
        {% endfor %}
    </select>
<input type="submit" value="Remove">
</form>

</body>
</html>